#main {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #151515;
}

body::-webkit-scrollbar-thumb {
  background: #48337d;
}

.sidenav {
  width: 50rem;
  height: 100%;
  position: absolute;
  background-color: black;
  padding: 0 30px;
  /* left: -100%; */
  transition: all 1s;
}

.sidenav.active {
  left: 0;
}
